<div [attr.id]="leafletMapId" class="map-container">
</div>
<sebm-google-map [latitude]="defaultLatitude" [longitude]="defaultLongitude" [zoom]="this.defaultZoom">
    <sebm-google-map-marker *ngFor="let call of serviceCalls"
                            [latitude]="call.LATITUDE"
                            [longitude]="call.LONGITUDE"
                            [iconUrl]="iconMap[call.CALLCODE.substring(0,3)]">
        <sebm-google-map-info-window>
            <div>
                <span><b>Event Number:</b> {{call['Event Number']}}</span><br />
                <span><b>Call Code:</b> {{call.CALLCODE}}</span><br />
                <span><strong>Call Received:</strong> {{call['Time Received'] | date:'medium'}}</span><br />
                <span><strong>Address:</strong> {{call.Address}}</span><br />
                <span><strong>Description:</strong> {{call['Call Code Description']}}</span><br />
            </div>
        </sebm-google-map-info-window>
    </sebm-google-map-marker>
    <google-map-extension (map)="initGoogleMaps($event)"></google-map-extension>
    <md-spinner></md-spinner>
</sebm-google-map>